@page "/Automobili/Detalji/{id:min(1)?}"
@using static AutoPlacApp.Servisi.MetodeAutoSkladiste
@model AutoPlacApp.Pages.Auta.DetailsModel
@{
    ViewData["Title"] = "Detalji";
	var slikaDir = "~/images/cars/" + (Model.Auto.SlikaDir ?? "noimage.jpg");
}

<div class="container mb-5">
    <div class="card mt-5 d-width" id="DetailsKartica">
        <div class="row g-0 mb-4">
            <div class="col-md-4 col-override-4">
                <img src="@slikaDir" asp-append-version="true" class="img-fluid rounded-start" id="DetailsSlika">
            </div>
            <div class="col-md-8 col-override-8">
                <div class="card-body row">
                    <h4 class="card-title fw-bold opste">Opšte informacije</h4>
                    <div class="col-lg-6">
                        <div class="row nasaklasa">
                            <p class="klasa1">Marka:</p>
                            <p class="klasa2 text-end">@EnumHelper.GetEnumDescription(Model.Auto.Marka)</p>
                            <div class="border-dole"></div>
                        </div>
                        <div class="row nasaklasa">
                            <p class="klasa1">Model:</p>
                            <p class="klasa2 text-end">@Model.Auto.Model</p>
                            <div class="border-dole"></div>
                        </div>
                        <div class="row nasaklasa">
                            <p class="klasa1">Godina proizvodnje:</p>
                            <p class="klasa2 text-end">@Model.Auto.GodinaProizvodnje</p>
                            <div class="border-dole"></div>
                        </div>
                        <div class="row nasaklasa">
                            <p class="klasa1">Stanje:</p>
                            <p class="klasa2 text-end">@EnumHelper.GetEnumDescription(Model.Auto.Stanje)</p>
                            <div class="border-dole"></div>
                        </div>
                        <div class="row nasaklasa">
                            <p class="klasa1">Gorivo:</p>
                            <p class="klasa2 text-end">@EnumHelper.GetEnumDescription(Model.Auto.Gorivo)</p>
                            <div class="border-dole"></div>
                        </div>
                        <div class="row nasaklasa">
                            @if (Model.Auto.Boja == 0)
                            {
                                <p class="klasa1">Boja:</p>
                                <p class="klasa2 text-end">Nije uneto</p>
                                <div class="border-dole"></div>
                            }
                            else
                            {
                                <p class="klasa1">Boja:</p>
                                <p class="klasa2 text-end">@Model.Auto.Boja</p>
                                <div class="border-dole"></div>
                            }
                        </div>
                        <div class="row nasaklasa">
                            <p class="klasa1">Karoserija:</p>
                            <p class="klasa2 text-end">@Model.Auto.Karoserija</p>
                            <div class="border-dole"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row nasaklasa">
                            <p class="klasa1">Klima:</p>
                            <p class="klasa2 text-end">@EnumHelper.GetEnumDescription(Model.Auto.Klima)</p>
                            <div class="border-dole"></div>
                        </div>
                        <div class="row nasaklasa">
                            @if (Model.Auto.Kubikaža == 0)
                            {
                                <p class="klasa1">Kubikaža:</p>
                                <p class="klasa2 text-end">Nije uneto</p>
                                <div class="border-dole"></div>
                            }
                            else
                            {
                                <p class="klasa1">Kubikaža:</p>
                                <p class="klasa2 text-end">@Model.Auto.Kubikaža cm<sup>3</sup></p>
                                <div class="border-dole"></div>
                            }
                        </div>
                        <div class="row nasaklasa">
                                <p class="klasa1">Kilometraža:</p>
                                <p class="klasa2 text-end">@Model.Auto.Kilometraža km</p>
                                <div class="border-dole"></div>
                        </div>
                        <div class="row nasaklasa">
                            @if (Model.Auto.SnagaMotora == 0)
                            {
                                <p class="klasa1">Snaga motora:</p>
                                <p class="klasa2 text-end">Nije uneto</p>
                                <div class="border-dole"></div>
                            }
                            else
                            {
                                <p class="klasa1">Snaga motora:</p>
                                <p class="klasa2 text-end">@Model.Auto.SnagaMotora KS</p>
                                <div class="border-dole"></div>
                            }
                        </div>
                        <div class="row nasaklasa">
                            <p class="klasa1">Strana volana:</p>
                            <p class="klasa2 text-end">@EnumHelper.GetEnumDescription(Model.Auto.StranaVolana)</p>
                            <div class="border-dole"></div>
                        </div>
                        <div class="row nasaklasa">
                            <p class="klasa1">Broj vrata:</p>
                            <p class="klasa2 text-end">@EnumHelper.GetEnumDescription(Model.Auto.BrojVrata)</p>
                            <div class="border-dole"></div>
                        </div>
                        <div class="row nasaklasa">
                            <p class="klasa1">Broj sedišta:</p>
                            <p class="klasa2 text-end">@EnumHelper.GetEnumDescription(Model.Auto.BrojSedista)</p>
                            <div class="border-dole"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center mt-2" style="color:green;"><h2>@Model.Auto.Cena &euro;</h2></div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-4">
        <a asp-page="/Auta/Index" class="btn btn-details btn-nazad m-1 btnw">
            <svg height="18" width="18" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
            <span>Nazad</span>
        </a>
        <a asp-page="/Auta/Edit" asp-route-ID="@Model.Auto.Id" class="btn btn-details btn-izmeni m-1 btnw">
            <svg class="svgIcon" viewBox="0 0 512 512">
        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
            <span>Izmeni</span>
        </a>
        <a asp-page="/Auta/Delete" asp-route-ID="@Model.Auto.Id" class="btn btn-details btn-izbrisi m-1 btnw">
            <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
            <span>Izbriši</span>
        </a>
    </div>
</div>